export(
## generic functions
       "Kappa",
       "assoc.stats",
       "assocpairs"    ,
       "assocplot",    
       "distplot",	    
       "fourfoldplot",
       "goodfit",
       "sieveplot",
       "agreementplot", 
       "mosaicpairs",
       "rootogram", 
       "grid.agreementplot",
       "grid.assocplot",
       "grid.mosaicplot",
       "grid.sieveplot",
       "tabplot", 
       "table2d.summary",
       "oddsratio",
       
## panel functions
       "gp.binary", "gp.data", "gp.shading",  "gp.signif",
       "panel.barplot", "panel.mosaicplot", "panel.text",

## ``normal'' functions
       "hcl", "hls",
       "independence.table",
       "mar.table", 
       "Ord.estimate",
       "Ord.plot",
       "grid.mosaicpairs",
       "grid.fourfoldplot",
       "birthwt", 
       "pearson.test",
       "ternaryplot",
       "woolf.test")

import(MASS)
import(ctest)

S3method("mosaicplot", "default")
S3method("mosaicplot", "formula")
S3method("barplot", "default")
S3method("mosaicpairs", "default")
S3method("mosaicpairs", "formula")
S3method("agreementplot", "default")
S3method("agreementplot", "formula")
S3method("sieveplot", "default")
S3method("sieveplot", "formula")
S3method("rootogram", "default")
S3method("rootogram", "goodfit")
S3method("tabplot", "default")
S3method("tabplot", "formula")

S3method("grid.agreementplot", "default")
S3method("grid.agreementplot", "formula")
S3method("grid.assocplot", "default")
S3method("grid.assocplot", "formula")
S3method("grid.sieveplot", "default")
S3method("grid.sieveplot", "formula")
S3method("grid.mosaicplot", "default")
S3method("grid.mosaicplot", "formula")

S3method("fitted", "goodfit")
S3method("predict", "goodfit")

S3method("confint", "Kappa")
S3method("confint", "oddsratio")

S3method("plot", "goodfit")
S3method("plot", "oddsratio")

S3method("print", "Kappa")
S3method("print", "summary.Kappa")
S3method("print", "goodfit")
S3method("print", "oddsratio")
S3method("print", "summary.oddsratio")
S3method("print", "assoc.stats")
S3method("print", "summary.assoc.stats")
S3method("print", "table2d.summary")

S3method("summary", "Kappa")
S3method("summary", "assoc.stats")
S3method("summary", "goodfit")
S3method("summary", "oddsratio")
