export("Kappa", "Ord.estimate", "Ord.plot", "agreementplot", 
    "agreementplot.default", "agreementplot.formula", "assoc.stats", 
    "assocpairs", "assocplot", "birthwt", 
    "confint.Kappa", "confint.oddsratio", "distplot", "fitted.goodfit", 
    "fourfoldplot", "goodfit", "gp.binary", "gp.data", "gp.shading", 
    "gp.signif", "grid.agreementplot", "grid.agreementplot.default", 
    "grid.agreementplot.formula", "grid.assocplot", "grid.assocplot.default", 
    "grid.assocplot.formula", "grid.mosaicpairs", "grid.mosaicplot", 
    "grid.mosaicplot.default", "grid.mosaicplot.formula", "grid.sieveplot", 
    "grid.sieveplot.default", "grid.sieveplot.formula", "hcl", 
    "hls", "independence.table", "legend.block", "mar.table", 
    "mosaicpairs", "mosaicpairs.default", "mosaicpairs.formula", 
    "mosaicplot", "mosaicplot.default", "mosaicplot.formula", 
    "oddsratio", "panel.barplot", "panel.mosaicplot", "panel.text", 
    "pearson.test", "plot.goodfit", "plot.oddsratio", "predict.goodfit", 
    "print.Kappa", "print.assoc.stats", "print.goodfit", "print.oddsratio", 
    "print.summary.Kappa", "print.summary.assoc.stats", "print.summary.oddsratio", 
    "print.table2d.summary", "rootogram", "rootogram.default", 
    "rootogram.goodfit", "sieveplot", "sieveplot.default",
    "sieveplot.formula", "summary.Kappa", "summary.assoc.stats", "summary.goodfit", 
    "summary.oddsratio", "table2d.summary", "tabplot", "tabplot.default", 
    "tabplot.formula", "ternaryplot", "woolf.test")
